@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/csgo.css" />

<div class="body_container">
    <section id="new-header-section" class="">
        <div class="bg_container">
            <div id="back_id" class="main_bg_image"></div>
            <div class="container">
                <div  class="sml_bg">
                    <img src="images/sml_bg_csgo.png" alt="">
                </div>
                <div class="fog_bg"></div>
            </div>
        </div>
        <div class="title_container">
            <div class="fixed_container"></div>
            <div class="fill_container">
                <div class="container">
                    <h1 id="title_id">CS:GO Boosting</h1>
                    <div class="green_divider"></div>
                    <p class="subtitle">Big selection of ranks to choose from!</p>
                </div>
            </div>
            
            <div class="row productTypeContent active maximizeBelow1200" data-id="0" data-type-name="Classic Boosting" data-type="diff" style="display: block; width: 70%; border: 0px solid #9e9e9e; padding: 25px; margin-top :20px; margin-bottom: 100px; margin-left: 0px; margin-right: 0px;"><div class="col-md-6" style="float: left;">
                    <p style="float: left; width:100%; display: block">
                        <span style="color: #787878; font-size: 18px; font-weight: 500;"></span>
                        <span>
                            <input type="button" value="Classic CS:GO Ranks" class="form-control btn-dark" data-name="Classic CS:GO Ranks" name="option-steam username" onclick="location.href='@Url.Action("Competitive", "CSGO")'">
                        </span>
                        <span class="productOptionError"></span>
                    </p>
                    <p style="float: left; width:100%; display: block">
                        <span style="color: #787878; font-size: 18px; font-weight: 500;"></span>
                        <span>
                            <input type="button"  value="ESEA Boosting" class="form-control btn-dark" data-name="ESEA Boosting" name="option-steam username" onclick="location.href='@Url.Action("ESEA","CSGO")'">
                        </span>
                        <span class="productOptionError"></span>
                    </p>
                    <p style="float: left; width:100%; display: block">
                        <span style="color: #787878; font-size: 18px; font-weight: 500;"></span>
                        <span>
                            <input type="button"  value="Faceit Boosting" class="form-control btn-dark" data-name="Faceit Boosting" name="option-steam username" onclick="location.href='@Url.Action("Faceit","CSGO")'">
                        </span>
                        <span class="productOptionError"></span>
                    </p>
                    <p style="float: left; width:100%; display: block">
                        <span style="color: #787878; font-size: 18px; font-weight: 500;"></span>
                        <span>
                            <input type="button"  value="Wingman Ranks" class="form-control btn-dark" data-name="Wingman Ranks" name="option-steam username" onclick="location.href='@Url.Action("Wingman","CSGO")'">
                        </span>
                        <span class="productOptionError"></span>
                    </p>
                    
                </div><br><br>
            </div>
        </div>
    </section>
</div>

