@model Order

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/csgo.css" />

<img src="images/sml_bg_csgo.png" alt="" id="sml_csgo_bg">


<div class="content_csgo">
	<h1>Wingman Ranks</h1>
	<p class="subtitle">Go to the top in this duo-style ranked mode!</p>
	<div style="background-color: transparent; color: white; opacity: 0.7" class="input">
		<label>Steam Username:</label>
		<input asp-for="Username" type="text" id="ESEA_Username" name="Username" class="subtitle">
	</div>
	<div class="col-md-2" style="display: block; width: 70%; padding: 10px; margin-top :20px; margin-bottom: 100px; margin-left: 0px; margin-right: 0px;">
		<span style="color: #787878; font-size: 18px; font-weight: 500;">Current Rank</span>
		<span id="">
			<select v-model="current_rank" v-on:change="csgo_rank_check($event)" asp-for="CurrentRank">
				<option value="" disabled selected>Choose your current rank</option>
				<option value="1">Silver I</option>
				<option value="2">Silver II</option>
				<option value="3">Silver III</option>
				<option value="4">Silver IV</option>
				<option value="5">Silver Elite</option>
				<option value="6">Silver Elite Master</option>
				<option value="7">Gold Nova I</option>
				<option value="8">Gold Nova II</option>
				<option value="9">Gold Nova III</option>
				<option value="10">Gold Nova Master</option>
				<option value="11">Master Guardian I</option>
				<option value="12">Master Guardian II</option>
				<option value="13">Master Guardian Elite</option>
				<option value="14">Distinguished Master Guardian</option>
				<option value="15">Legendary Eagle</option>
				<option value="16">Legendary Eagle Master</option>
				<option value="17">Supreme Master First Class</option>
				<option value="18">Global Elite</option>
			</select>
		</span>
		<span style="color: #787878; font-size: 18px; font-weight: 500;">Desired Rank</span>
		<span id="BoostRank">
			<select v-model="current_rank" v-on:change="csgo_rank_check($event)" asp-for="CurrentRank">
				<option value="" disabled selected>Choose your desired rank</option>
				<option value="1">Silver I</option>
				<option value="2">Silver II</option>
				<option value="3">Silver III</option>
				<option value="4">Silver IV</option>
				<option value="5">Silver Elite</option>
				<option value="6">Silver Elite Master</option>
				<option value="7">Gold Nova I</option>
				<option value="8">Gold Nova II</option>
				<option value="9">Gold Nova III</option>
				<option value="10">Gold Nova Master</option>
				<option value="11">Master Guardian I</option>
				<option value="12">Master Guardian II</option>
				<option value="13">Master Guardian Elite</option>
				<option value="14">Distinguished Master Guardian</option>
				<option value="15">Legendary Eagle</option>
				<option value="16">Legendary Eagle Master</option>
				<option value="17">Supreme Master First Class</option>
				<option value="18">Global Elite</option>
			</select>
		</span>
	</div>
	<div id="total_price" style="color: white; opacity: 0.8; font-size: 16px">
		<p style="font-size: larger">Subtotal: {{price_total}}€</p>
	</div>
	<div>
		<input type="submit" value="Submit" class="btn btn-dark" id="">
	</div>
</div>

@section Scripts
{
	<script src="~/js/csgo/csgo_wing.js" asp-append-version="true"></script>
}