@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/lol.css" />
<h1>LEAGUE OF LEGENDS</h1>

<div class="container" id="LoL_Index_RankedBoost_Container">
    <div>
        <h2>Test</h2>
        <input type="image" id="LoL_Index_RankedBoost_Image" src="images/FromIronToChall2.png" 
               alt="RankedBoost" 
               onclick="location.href='@Url.Action("Rankedboost", "LeagueOfLegends")'"/>
        <div>
            <p>test</p>
        </div>
    </div>
</div>

<div class="container" id="LoL_Index_WinsBoost_Container">
    <div>
        <h2>Buy Wins today!</h2>
        <input type="image" id="LoL_Index_WinsBoost_Image" src="images/WinsBoostPic.png" 
               width="40%" alt="WinsBoost" 
               onclick="location.href='@Url.Action("Winsboost", "LeagueOfLegends")'"/>
        <div>
            <p>test</p>
        </div>
    </div>
</div>
