@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/lol.css" />
<h1>Wins Boosting</h1>
<div class="container" id="LoL_Winsboost_Container">
    <h3>Wins boost</h3>
    <p>How many wins do you want</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="10" value="1" class="slider" id="winRange">
    </div>
</div>

@section Scripts
{
    <script src="~/js/Lol.js" asp-append-version="true"></script>
}
