@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-controller="Product" asp-action="Index" >Products</a>
        </li>
    }
    else
    {
        
    }
</ul>