<div class="float-container">
    <div class="float-child socialmedia">
        <a><img src="~/images/Social Media/facebook.png" width="100px" height="100px"/></a>
    </div>
    <div class="float-child socialmedia">
        <a><img src="~/images/Social Media/instagram.png" width="100px" height="100px"/></a>
    </div>
    <div class="float-child socialmedia">
        <a><img src="~/images/Social Media/twitter.png" width="100px" height="100px"/></a>
    </div>
    <div class="float-child socialmedia">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="~/images/Social Media/youtube.png" width="100px" height="100px"/></a>
    </div>
</div>

