@model IEnumerable<Product>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/school.css" />

<h2>Math 1</h2>

<div class="float-container">
    @foreach (var product in Model)
    {
        <partial name="_SchoolSubjectPartial" model="product" />
    }
</div>