@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/review.css" />

<div id="app" v-cloak>
    <div class="review-wrapper">
        <div v-for="review in reviews">
            <div class="review-container col-4 float-left">
                <div class="review-title text-center">
                    {{review.applicationUser.nickname }} {{ review.title }}
                </div>
                <div class="review-content text-center">
                    {{ review.content }}
                </div>
                <div class="review-time float-right">
                    {{ review.time }}
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="js/review.js"></script>
}
