* {
    margin:0;
    padding:0;
    border:0;
    border-spacing:0;
    text-decoration:none;
    list-style-type:none;
    -webkit-font-smoothing:antialiased;
    font-family:'Roboto', sans-serif
}

.tmpl {
    font-family: 'template_font', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tmpl.template-rating_boost:before {
    content:"\";
}


body {
    font-size:16px;
    font-weight:300;
    line-height:1.5em;
    color:#323232;
    min-width:360px;
    font-family: Roboto, sans-serif;
    height: 100%;
}

.flex-container {
    margin: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    font-family: Roboto, sans-serif;
}

@media (max-width: 800px) {
    .flex-container > input{
        flex: 100%;
    }
}

.flex-container > input {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    background-color: transparent;
    text-shadow: black;
    border-color: transparent;
    
}

.flex-container > input:hover {
    color: black;
    text-shadow: 0 0 5px #686666;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

section#new-header-section {
    position: relative;
    background: linear-gradient(to left, #202731, #283347, #1e252d);
    height: 100vh;
    max-height: 1500px;
    min-height: 740px;
    width: 100%;
    white-space: nowrap;
}

section#new-header-section > .bg_container .main_bg_image {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(../images/big_bg_csgo.jpg);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#back_id {
    width: 100%;
}

section#new-header-section > .bg_container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

section#new-header-section .container {
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
}

section#new-header-section > .bg_container .sml_bg {
    position: absolute;
    height: 82%;
    max-height: 920px;
    bottom: 0;
    right: -25px;
    background: radial-gradient(rgba(0,77,201,0.2) 0%, rgba(0,77,201,0) 80%);
}

section#new-header-section > .bg_container .fog_bg {
    width: 100%;
    height: 20%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, #202731, rgba(30,37,45,0));
}

section#new-header-section > .title_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section#new-header-section > .title_container .fixed_container {
    height: 19%;
    min-height: inherit;
    max-height: 206px;
    width: 100%;
}

section#new-header-section > .title_container .fill_container {
    flex-grow: 1;
    width: 100%;
}


section#new-header-section > .title_container .fill_container > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section#new-header-section > .title_container .fill_container h1 {
    font-size: 60px;
    line-height: 60px;
    max-width: 685px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

section#new-header-section > .title_container .fill_container .green_divider {
    margin: 35px 0;
    width: 100px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #5d79ae;
}

section#new-header-section > .title_container .fill_container .subtitle {
    color: white;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 8px;
    opacity: 0.5;
}

section#new-header-section > .title_container .fixed_container > .container .buttons_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

section#new-header-section > .title_container .fixed_container > .container .buttons_links .button_link {
    width: 280px;
    height: 76px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    font-weight: bold;
}

section#new-header-section > .title_container .fixed_container > .container .buttons_links .button_link > i {
    font-size: 60px;
    margin-left: -19px;
    color: #5d79ae;
}

section#new-header-section > .title_container .fixed_container > .container .buttons_links .button_link > span {
    margin-left: 20px;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 18px;
}

a {
    color:white;
    text-decoration:none;
    z-index: 2;
    
}
a:hover {
    text-decoration:none;
    color:white;
    cursor:pointer;
    z-index: 2;
}
a.active {
    cursor:pointer;
    text-decoration:none;
    color:white;
    z-index: 2;
}
a.link_to {
    display:block;
    z-index: 2;
}
p>a {
    color:#5d79ae;
    z-index: 2;
}
p>a:hover {
    color:#5d79ae;
    z-index: 2;
}
