.float-container {
    padding: 20px;
}

.float-child {
    width: 33%;
    float: left;
    padding: 11px;
}

.child-button {
    width: 50%;
    float: left;
    padding: 2px;
}

.details-child-button {
    width: 50%;
    float: left;
    padding: 2px;
}

.bg_container {
    width: 100%;
    height: 100%;
    background-image: url(../images/big_bg_wow_retail.jpg);
    background-size: cover;
    border-image-repeat: stretch;
}