.float-container {
    padding: 20px;
}

.float-child {
    width: 33%;
    float: left;
    padding: 11px;
}

.child-button {
    width: 50%;
    float: left;
    padding: 2px;
}

.details-child-button {
    width: 50%;
    float: left;
    padding: 2px;
}