@model IEnumerable<Product>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/wow.css" />

<h2>World of Warcraft: Shadowlands</h2>

<div class="float-container">
    @foreach (var product in Model)
    {
        <partial name="_WoWBoostPartial" model="product" />
    }
</div>