@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/ow_ss.css" />

<div class="body_container">
    <section id="new-header-section" class="">
        <div class="bg_container">
            <div id="back_id" class="main_bg_image"></div>
            <div class="container">
                <div class="sml_bg">
                    <img src="images/mei_sml.png" alt="">
                </div>
                <div class="fog_bg"></div>
            </div>
        </div>
        <div class="title_container">
            <div class="fixed_container"></div>
            <div class="fill_container">
                <div class="container">
                    <h1 id="title_id">Overwatch Rank Boost & Levling </h1>
                    <div class="green_divider"></div>
                    <p class="subtitle">Now featuring Coaching!</p>
                </div>
            </div>
            <div class="fixed_container">
                <div class="buttons_links">
                    <a href="https://localhost:5001/Overwatch/Ranked">
                        <div class="button_link">
                            <span>Overwatch Rank Boost</span>
                        </div>
                    </a>
                    <a href="https://localhost:5001/Overwatch/Levling">
                        <div class="button_link">
                            <span>Overwatch Levling</span>
                        </div>
                    </a>
                    <a href="https://localhost:5001/Overwatch/Coaching">
                        <div class="button_link">
                            <span>Overwatch Coaching</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
